# Python bytecode
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
.venv/

# Django database
db.sqlite3

# Django migration files
custom_auth/migrations/

# Environment variables
.env

# IDE/editor configuration
.vscode/
.idea/

# Test output
*.log
